{
  "name": "iceberg-enriched-sink",
  "config": {
    "connector.class": "org.apache.iceberg.connect.IcebergSinkConnector",
    "tasks.max": "1",
    "topics": "enriched_mortgage_applications",
    "iceberg.tables": "${ICEBERG_NAMESPACE}.enriched_mortgage_applications",
    "iceberg.tables.auto-create-enabled": "true",
    "iceberg.tables.evolve-schema-enabled": "true",
    "iceberg.tables.upsert-mode-enabled": "true",
    "iceberg.tables.default-id-columns": "applicant_name",

    "iceberg.catalog.type": "hive",
    "iceberg.catalog.uri": "thrift://${ICEBERG_HMS_HOST}:${ICEBERG_HMS_PORT}",
    "iceberg.catalog.warehouse": "s3a://${ICEBERG_BUCKET}/",
    "iceberg.catalog.io-impl": "org.apache.iceberg.aws.s3.S3FileIO",
    "iceberg.catalog.client.region": "us-east-1",
    "iceberg.catalog.s3.endpoint": "http://${ICEBERG_S3_HOST}:${ICEBERG_S3_PORT}",
    "iceberg.catalog.s3.path-style-access": "true",
    "iceberg.catalog.s3.access-key-id": "${ICEBERG_S3_ACCESS_KEY}",
    "iceberg.catalog.s3.secret-access-key": "${ICEBERG_S3_SECRET_KEY}",

    "iceberg.control.topic": "control-iceberg-enriched",
    "iceberg.control.commit.interval-ms": "10000",

    "key.converter": "org.apache.kafka.connect.json.JsonConverter",
    "key.converter.schemas.enable": "false",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false"
  }
}
